<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />

    <!-- Custom CSS Styles-->
    <link href="/static/css/navBar.css" rel="stylesheet" />

    <link href="/static/css/fieldset.css" rel="stylesheet" />

    <style></style>
  </head>

  <body style="background-color: rgb(248, 240, 227)">
    <div
      class="navBar"
      style="
        margin-bottom: 20px;
        margin-top: 0px;
        display: flex;
        background-color: white;
      "
    >
      <a href="/">Home</a>
      <a href="/help">Help</a>
      <a class="active" href="/about">About</a>
    </div>

    <fieldset style="background-color: white">
      <legend>About Email Sender</legend>

      <p>
        This Application is meant to be a free and open-source project to help
        people / small business send many emails to many different people.
      </p>
    </fieldset>
  </body>
</html>
